@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto|Roboto:100');

/********************************
* Main Content
********************************/
body {
    display: flex;
    flex-flow: column nowrap;
    width: 960px;
    margin: -104px auto;
}

main {
    font-family: "Raleway";
    font-size: 100%;
    color: #000000;
    text-align: center;
    height: 700px;
}

.home {
    background-image: url('../image/home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.about {
    background-image: url('../image/about.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.portfolio {
    background-image: url('../image/portfolio.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.home-p {
    font-family: 'raleway';
    color: #000000;
    font-size: 34px;
    margin: -20px;
}

.about-content {
    width: 100%;
    height: 400px;
    font-family: 'raleway';
    color: #000000;
    font-size: 20px;
    background: rgba(250, 250, 250, 0.7);
    margin-top: 150px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.me {
    width: 200px;
    height: 200px;
}

.about-p {
    width: 450px;
    text-align: left;
}

figure {
    font-size: 20px;
    background: rgba(250, 250, 250, 0.3);
}

.title {
    text-align: center;
    font-size: 75px;
}

.title-a {
    text-align: center;
    font-size: 75px;
}

.images {
    background: rgba(250, 250, 250, 0.3);
    font-family: 'raleway';
    color: #000000;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


/*******************************
* Navigation
*******************************/

.logo {
    width: 97px;
    position: relative;
    z-index: 99;
    left: 10%;
    top: 104px;
}

.nav {
    background-color: #000000;
    height: 90px;
    padding-top: 30px;
    font-size: 20px;
    text-align: right;
    font-weight: 100;
}

.nav a {
    color: #ffffff;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.nav a:hover {
    background-color: #d60c0c;
    color: #ffffff;
}

.nav a:active {
    background-color: #3b69dd;
    color: #ffffff;
}

/*******************************
* Page Footer
*******************************/

.bottom {
    padding-top: 30px;
    font-size: 18px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #000;
}

.social {
    font-size: 17px;
}

